{% extends "layout.html" %}
{% block content %}
    <h1>Phản hồi của khách hàng</h1>
    <div class="container" align="left">
        <embed type="image/svg+xml" src={{graph_data|safe}} style=
        'max-width:750px' />
    </div>
    <h6>- Khách hàng có độ tuổi từ 60 trở lên có tỷ lệ đăng ký cao nhất. Khoảng 17% các đăng ký đến từ các khách hàng trong độ tuổi từ 18 đến 29. Hơn 50% các đăng ký được đóng góp bởi các khách hàng trẻ nhất và lớn tuổi nhất.</h6>

	<h6>- Mục tiêu chính của người cao tuổi (>60) là tiết kiệm cho cho cuộc sống sau này. Tiền gửi có kỳ hạn được ưu tiên hơn so với người lớn tuổi.
	Nhóm trẻ tuổi (<30) có thể không có đủ tiền hoặc kiến ​​thức chuyên môn để tham gia vào các khoản đầu tư tài chính. Tiền gửi có kỳ hạn cung cấp thanh khoản và tạo thu nhập lãi cao hơn tài khoản tiết kiệm thông thường, vì vậy tiền gửi có kỳ hạn là khoản đầu tư khá tốt cho sinh viên.</h6>
	
	<h6>- Để làm cho chiến dịch tiếp thị hiệu quả hơn, ngân hàng nên nhắm mục tiêu vào các khách hàng trẻ tuổi hoặc già trong tương lai</h6>
{% endblock content%}